.App {
  text-align: center;
}
.App .heading{
  color:darkgreen;
  font-size: 45px;
}
.btnAnswer{
  display: block;
  margin: 0 auto;
  width:200px;
  background-color: green;
  color: white;
  border-color: green;
  font-size:12px ;
  margin-bottom: 10px;
  padding:10px 10px;
  border-radius:1px;

}
h1 .question{
  font-size: 20px ;
}
.btnAnswer:hover{
  opacity: 0.8;
  background-color: transparent;
  color: green;
}
.scorewrapper{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background:white;
  text-align: center;
}
h3{
  display: inline-block;
  vertical-align: middle;
  margin:1em;
}